<%- include("partials/header"); -%>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
            text-align: center;
        }

        p {
            line-height: 1.6;
            color: #666;
        }

        .signature {
            margin-top: 20px;
            text-align: right;
            font-style: italic;
            color: #888;
        }
    </style>

    <div class="container">
        <h1>About Me</h1>
        <p>
            Hello, I'm Eshgin Hasanov, a fervent web developer with a deep passion for empowering the Azerbaijani
            community. Welcome to this content management system designed with a singular purpose – to facilitate the
            learning and publication of articles in the rich Azerbaijani language, right in its native script.
        </p>

        <p>
            In my journey as a web developer, I recognized a need for a platform that not only embraces the
            technological advancements of the digital era but also upholds the cultural significance of language. This
            led to the creation of a specialized content management system, where the beauty of the Azerbaijani language
            flourishes.
        </p>

        <p>
            Here, we celebrate the uniqueness of Azerbaijanis by exclusively allowing content in the Azerbaijani
            language. It's more than just a restriction; it's a commitment to maintaining the purity and authenticity of
            the content. Every article, every word, is a testament to the linguistic richness of Azerbaijan.
        </p>

        <p>
            I invite you to explore, learn, and contribute to this platform, as we strive to create a space where
            knowledge blossoms in the language that connects us all. Let's weave the digital landscape with the threads
            of Azerbaijani culture, one article at a time.
        </p>

        <div class="signature">
            Cheers,<br>
            Eshgin Hasanov
        </div>
    </div>
    <%- include("partials/footer"); -%>