<%- include("partials/home_header"); -%>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 position-fixed overflow-auto"
                style="overflow: auto; height: 100%; background-color: #00337C;">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline fw-bold" style="color: #E3F6FF">Posts</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-black"
                        id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"
                                    style="color: #E3F6FF">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline"
                                    style="color: #E3F6FF">Dashboard</span> </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0 text-black"> <span
                                            class="d-none d-sm-inline">Item</span> 1 </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>

                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span
                                    class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span>
                                        1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span>
                                        2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        2</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        3</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4 mb-5">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">loser</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3" style="text-align: justify;" id="content">
                <p>1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will give
                    you a complete account of the system, and expound the actual teachings of the great explorer of the
                    truth, the
                    master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it
                    is pleasure, but
                    because those who do not know how to pursue pleasure rationally encounter consequences that are
                    extremely painful. Nor
                    again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                    but because
                    occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                    a trivial example,
                    which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?
                    But who has any right
                    to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one
                    who avoids a pain
                    that produces no resultant pleasure?"
                </p>
                <br>
                <p>1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will
                    give
                    you a complete account of the system, and expound the actual teachings of the great explorer of the
                    truth, the
                    master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it
                    is pleasure, but
                    because those who do not know how to pursue pleasure rationally encounter consequences that are
                    extremely painful. Nor
                    again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                    but because
                    occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                    a trivial
                    example,
                    which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?
                    But who has any
                    right
                    to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one
                    who avoids a pain
                    that produces no resultant pleasure?"
                </p>
                <br>

                <p>1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will
                    give
                    you a complete account of the system, and expound the actual teachings of the great explorer of the
                    truth, the
                    master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it
                    is pleasure, but
                    because those who do not know how to pursue pleasure rationally encounter consequences that are
                    extremely painful. Nor
                    again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                    but because
                    occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                    a trivial
                    example,
                    which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?
                    But who has any
                    right
                    to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one
                    who avoids a pain
                    that produces no resultant pleasure?"
                </p>
                <br>

                <p>1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will
                    give
                    you a complete account of the system, and expound the actual teachings of the great explorer of the
                    truth, the
                    master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it
                    is pleasure, but
                    because those who do not know how to pursue pleasure rationally encounter consequences that are
                    extremely painful. Nor
                    again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                    but because
                    occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                    a trivial
                    example,
                    which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?
                    But who has any
                    right
                    to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one
                    who avoids a pain
                    that produces no resultant pleasure?"
                </p>
                <br>
                <p>1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will
                    give
                    you a complete account of the system, and expound the actual teachings of the great explorer of the
                    truth, the
                    master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it
                    is pleasure, but
                    because those who do not know how to pursue pleasure rationally encounter consequences that are
                    extremely painful. Nor
                    again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                    but because
                    occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                    a trivial
                    example,
                    which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?
                    But who has any
                    right
                    to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one
                    who avoids a pain
                    that produces no resultant pleasure?"
                </p>
                <br>
                <p>1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will
                    give
                    you a complete account of the system, and expound the actual teachings of the great explorer of the
                    truth, the
                    master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it
                    is pleasure, but
                    because those who do not know how to pursue pleasure rationally encounter consequences that are
                    extremely painful. Nor
                    again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                    but because
                    occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                    a trivial
                    example,
                    which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?
                    But who has any
                    right
                    to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one
                    who avoids a pain
                    that produces no resultant pleasure?"
                </p>
                <br>
                <p>1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will
                    give
                    you a complete account of the system, and expound the actual teachings of the great explorer of the
                    truth, the
                    master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it
                    is pleasure, but
                    because those who do not know how to pursue pleasure rationally encounter consequences that are
                    extremely painful. Nor
                    again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                    but because
                    occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                    a trivial
                    example,
                    which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?
                    But who has any
                    right
                    to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one
                    who avoids a pain
                    that produces no resultant pleasure?"
                </p>
                <br>
                <p>1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will
                    give
                    you a complete account of the system, and expound the actual teachings of the great explorer of the
                    truth, the
                    master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it
                    is pleasure, but
                    because those who do not know how to pursue pleasure rationally encounter consequences that are
                    extremely painful. Nor
                    again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                    but because
                    occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                    a trivial
                    example,
                    which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?
                    But who has any
                    right
                    to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one
                    who avoids a pain
                    that produces no resultant pleasure?"
                </p>
                <br>
                <p>1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will
                    give
                    you a complete account of the system, and expound the actual teachings of the great explorer of the
                    truth, the
                    master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it
                    is pleasure, but
                    because those who do not know how to pursue pleasure rationally encounter consequences that are
                    extremely painful. Nor
                    again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                    but because
                    occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                    a trivial
                    example,
                    which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?
                    But who has any
                    right
                    to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one
                    who avoids a pain
                    that produces no resultant pleasure?"
                </p>
                <br>
                <p>1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will
                    give
                    you a complete account of the system, and expound the actual teachings of the great explorer of the
                    truth, the
                    master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it
                    is pleasure, but
                    because those who do not know how to pursue pleasure rationally encounter consequences that are
                    extremely painful. Nor
                    again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                    but because
                    occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                    a trivial
                    example,
                    which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?
                    But who has any
                    right
                    to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one
                    who avoids a pain
                    that produces no resultant pleasure?"
                </p>
                <br>
                <p>1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will
                    give
                    you a complete account of the system, and expound the actual teachings of the great explorer of the
                    truth, the
                    master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it
                    is pleasure, but
                    because those who do not know how to pursue pleasure rationally encounter consequences that are
                    extremely painful. Nor
                    again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                    but because
                    occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                    a trivial
                    example,
                    which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?
                    But who has any
                    right
                    to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one
                    who avoids a pain
                    that produces no resultant pleasure?"
                </p>
                <br>

            </div>
        </div>
    </div>

    <style>
        /* @media only screen and (max-width: 350px) {
      #content { margin-left: 100px; margin-right: 20px; font-size: 16px;}
    } */
        @media only screen and (max-width: 576px) {
            #content {
                margin-left: 100px;
                margin-right: 40px;
            }
        }

        @media only screen and (min-width: 576px) and (max-width: 773px) {
            #content {
                margin-left: 200px;
                margin-right: 60px;
            }
        }

        @media only screen and (min-width: 773px) and (max-width: 900px) {
            #content {
                margin-left: 250px;
                margin-right: 80px;
            }
        }

        @media only screen and (min-width: 900px) {
            #content {
                margin-left: 300px;
                margin-right: 90px;
            }
        }
    </style>
    <!-- <h1>Home</h1>
    <p> <%= startingContent %> </p>
    
    <%  posts.forEach(function(post){ %>
      
      <h1><%=post.title%></h1>
      <p>
        <%=post.content.substring(0, 400) + " ..."%>
        <a href="/posts/<%=post._id%>">Read More</a>
      </p>


      <% }) %> -->


    <%- include("partials/home_footer"); -%>