<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/mainPageStyle.css">
</head>

<body>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <header class="header-section">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">MyData</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#team">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Optional: If you want to add a section for features, you can use the following code as a starting point. Uncomment the code below and modify it as necessary. -->


    <section class="section" id="home">
        <div class="container hero-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Empower Your Insights with Our Comprehensive Tutorial</h1>
                        <p>At My Data, we believe in harnessing the power of technology to help individuals and
                            businesses
                            unlock their full
                            potential. Our innovative solutions are designed to streamline processes, enhance security,
                            and
                            provide unparalleled
                            insights into your data. With a focus on user experience and cutting-edge technology, we're
                            dedicated to helping you
                            achieve your goals and stay ahead in today's fast-paced digital world.</p>
                        <a class="btn" style="background-color: #B4E4FF;" href="/courses">Get Started</a>
                    </div>
                    <div class="col-lg-6">
                        <img src="https://wallpapers.com/images/hd/information-technology-3d-circuit-symbol-s7hpo0fa1vr1k5ru.jpg"
                            alt="IT Background Image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section feature-section" id="about">
        <div class="container">
            <h2 class="section-title">Our Features</h2>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-sm-12 ftr">
                    <div class="feature-box">
                        <i class="fas fa-cog"></i>
                        <h3>Easy to Customize</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sed dolor rutrum
                            hendrerit eu ac justo. Fusce auctor odio in quam tristique, vitae pharetra nulla lacinia.
                            Nam
                            pharetra fermentum libero, eget eleifend felis porta et. Suspendisse aliquet felis a
                            convallis
                            rhoncus.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-12 ftr">
                    <div class="feature-box">
                        <i class="fas fa-mobile"></i>
                        <h3>Fully Responsive</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sed dolor rutrum
                            hendrerit eu ac
                            justo. Fusce auctor odio in quam tristique, vitae pharetra nulla lacinia. Nam pharetra
                            fermentum
                            libero,
                            eget eleifend felis porta et. Suspendisse aliquet felis a convallis rhoncus.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-12 ftr">
                    <div class="feature-box">
                        <i class="fas fa-search"></i>
                        <h3>SEO Friendly</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sed dolor rutrum
                            hendrerit eu ac
                            justo. Fusce auctor odio in quam tristique, vitae pharetra nulla lacinia. Nam pharetra
                            fermentum
                            libero,
                            eget eleifend felis porta et. Suspendisse aliquet felis a convallis rhoncus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="section">
        <div class="container">
            <h2 class="section-title">Our Team</h2>
            <div class="row">
                <div class="col-md-6 member">
                    <div class="employee-card animated">
                        <img src="/images/araz.jpg" class="profile-image">
                        <h3 class="profile-name">Araz Mirzayev</h3>
                        <p class="profile-position">Founder</p>
                        <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
                            ultricies
                            eros. Morbi rhoncus nibh et ante semper, eget suscipit purus ullamcorper. Nullam a enim
                            arcu.
                            Pellentesque congue velit id libero iaculis, at convallis diam bibendum.</p>
                    </div>
                </div>
                <div class="col-md-6 member">
                    <div class="employee-card animated">
                        <img src="/images/eshqin_hasanov.jpg" class="profile-image">
                        <h3 class="profile-name">Eshqin Hasanov</h3>
                        <p class="profile-position">Developer</p>
                        <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
                            ultricies
                            eros. Morbi rhoncus nibh et ante semper, eget suscipit purus ullamcorper. Nullam a enim
                            arcu.
                            Pellentesque congue velit id libero iaculis, at convallis diam bibendum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="services" class="section">
        <div class="container">
            <h2 class="section-title">Our Services</h2>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="card">
                        <i class="fas fa-laptop-code fa-3x"></i>
                        <div class="card-body">
                            <h3 class="card-title">Web Development</h3>
                            <p class="card-text">We offer high quality web development services to create websites that are
                                visually appealing, user-friendly, and optimized for search engines.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="card">
                        <i class="fas fa-mobile-alt fa-3x"></i>
                        <div class="card-body">
                            <h3 class="card-title">Android Development</h3>
                            <p class="card-text">We specialize in developing high-performance Android applications that are
                                intuitive, responsive, and visually appealing.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="card">
                        <i class="fas fa-apple-alt fa-3x"></i>
                        <div class="card-body">
                            <h3 class="card-title">iOS Development</h3>
                            <p class="card-text">We create high-quality iOS apps that are user-friendly, visually appealing,
                                and optimized for the latest iOS devices.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="card">
                        <i class="fas fa-database fa-3x"></i>
                        <div class="card-body">
                            <h3 class="card-title">Data Management</h3>
                            <p class="card-text">We provide advanced data management services to help you manage, store, and
                                analyze your data efficiently and effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="contact" class="section">
        <div class="container team-container">
            <h2>Contact Us</h2>
            <form id="contact-form" method="post" action="">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/esm/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
</body>
<script src="/js/mainPageJS.js"></script>

</html>